@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}


body {
    width: 99vw;
    height: 100vh;
}

header {
    width: 99vw;
    height: 107vh;
    background-image: url(./images/Sobre\ Nós.png);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}


#lista {
    display: flex;
    align-items: center;
    gap: 2vw;
    color: white;
    margin-top: 20px;
}

#lista li {
    font-size: 1.6vw;
}

#LogoLurys {
    width: 12vw;
    object-fit: scale-down;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline #f4bc05 5px;
    text-underline-offset: 15px;
}

button {
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    background-color: #f4bc05;
    color: white;
    border: none;
    font-size: 1.5vw;
    font-weight: bold;
}

#button:hover {
    text-decoration: none;
    background-color: white;
    color: #f4bc05;
}

button:hover {
    background-color: white;
    color: #f4bc05;
}

.cabeçalho {
    width: 99vw;
    height: 100px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2vw 2vw 0;
}

#TextoInicial {
    margin-top: -21vh;
    margin-left: 12vw;
    width: 36vw;
    display: block;
    z-index: 2;
    font-size: 3vw;
    font-weight: 600;
    color: #0c2d2d;
}

.menu {
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: #f4bc05;
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background: white;
}

#container {
    width: 99vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: absolute;
    top: 100vh; */
    margin-top: -7vh;
}

#QuemSomos {
    width: 60vw;
    height: 18vw;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #00000078;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    align-self: center;
}

#QuemSomos1 {
    width: 60vw;
    background-color: white;
    display: flex;
    transition: 0.3s ease;
    align-self: center;
    justify-content: space-between;
}

#bene-econo img {
    width: 3vw;
}

#bene-econo h1 {
    padding: 0;
    margin-left: 7px;
    font-size: 1.5vw;

}

#ul {
    margin-top: 20px;
    margin-left: 20px;
}

.lista {
    list-style-type: disc;
    margin: 0px 23px;
    text-align: justify;
    font-size: 1vw;
}

/*.lista:before {
    content: '\25CF';
    margin: 0 23px;
    color: #0c2d2d;
    cor da bolinha
}*/

#bene-econo {
    display: flex;
    align-items: center;
    align-self: center;
}

.interno {
    padding: 20px;
}

.interno p {
    font-size: 1vw;
    text-align: justify;
}


.interno h1 {
    font-size: 2vw;
    padding-bottom: 10px;
}

.interno1 {
    width: 50%;
    padding: 20px;
}

.interno1 p {
    text-align: justify;
}


.interno1 h1 {
    padding-bottom: 10px;
}

.interno2 {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.interno2 p {
    text-align: justify;
    color: black;
}


.interno2 h1 {
    padding-bottom: 10px;
}

.interno3 {
    height: auto;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    padding: 0vw 2vw 2vw 2vw;
}


#Lurys {
    width: 30%;
    object-fit: scale-down;
    border-radius: 0px 20px 20px 0px;
}

#imagem {
    height: 320px;
}

.divisao1 {

    width: 30vw;
    height: 0.3vw;
    background-color: #f4bc05;
    margin: 2vw;
}

#divisao1 {
    margin: 2vw;
    width: auto;
    height: auto;
    align-self: center;
}

#button1 {
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    background-color: #f4bc05;
    color: white;
    border: none;
    font-size: 1.5vw;
    font-weight: bold;
    align-self: center;
    margin: 5vw;
}

#button1:hover {
    background-color: white;
    color: #f4bc05;
}

#Diferenciais {
    width: 99vw;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    align-self: center;
    margin-top: 50px;
    color: white;
}

#titulo {
    align-self: center;
    margin-top: 50px;
}

#titulo h1 {
    font-size: 2vw;
    margin: 3vw;
}

#Instalador {
    width: 36vw;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

#green {
    position: absolute;
    z-index: -1;
    width: 99vw;
    height: 700px;
    background-color: #0c2d2d;
}

#yellow {
    position: absolute;

    margin-top: 18vw;
    z-index: -1;
    width: 99vw;
    height: 70vh;
    background-color: #f4bc05;
}

#Diferenciais-box {
    width: 70vw;
    height: auto;
    background-color: white;
    display: flex;
    transition: 0.3s ease;
    align-self: center;
    justify-content: space-between;
    border-radius: 20px;
}

#interno2-boxes {
    height: 468px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #00000078;
    display: flex;
    transition: 0.3s ease;
    align-self: center;
}

.boxes {
    margin: 2vw 0vw 0vw 0vw;
    color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -10px #00000078;
    display: flex;
}

.boxes h1 {
    margin-left: 20px;
    font-size: 1.1vw;
    margin-top: 10px;
}

.boxes img {
    width: 3vw;
    object-fit: scale-down;
    margin-left: 16px;
}

.boxes p {
    margin: 0px 1vw 1vw 1vw;
    font-size: 0.8vw;
}

#ComoFunciona {
    width: 50%;
    align-items: center;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
    font-size: 0.9vw;
    font-weight: bold;
}

#orçamento {
    width: 99vw;
    display: flex;
    justify-content: center;
    background: #f4bc05;
}

label {
    display: flex;
    flex-direction: column;
}

form {
    width: 70%;
}

#orçamento-box {
    display: flex;
    width: 100%;
    margin-bottom: 2vw;
}

#orçamento-box-geral {
    margin-top: 4vw;
    width: 70vw;
}

#orçamento-box-geral h1 {
    font-size: 2vw;
    color: white;
    margin-bottom: 2vw;
    text-decoration: underline 5px #0c2d2d;
    text-underline-offset: 15px;
}

#orçamento-box-geral h2 {
    font-size: 1.5vw;
    color: white;
    margin-bottom: 2vw;
}

#ComoFunciona h1 {
    font-size: 1.5vw;
}

input {
    border-radius: 4px;
    margin: 0px 0px 1vw 0px;
    height: 3vw;
    border-style: solid;
    border-width: 0.2vw;
    border-color: white;
    background: #f4bc05;
    padding-left: 20px;
    font-size: 0.9vw;
    font-weight: bold;
}

input::placeholder {
    color: white;
    padding-left: 2px;
}

label button {
    width: auto;
    height: auto;
    padding: 10px;
    margin-left: 58%;
    background: white;
    color: #f4bc05;
}

#orçamento-box h1 {
    text-decoration: none;
}

#redes-sociais {
    width: 100%;
    height: 20vh;
    background: white;
    display: flex;
    justify-content: center;
}

#redes-sociais p {
    align-self: center;
    font-size: 0.9vw;
    font-weight: bold;
}

#divisao2 {
    width: 0.2vw;
    margin: 0px 2vw 0px 2vw;
    height: 3vw;
    background: #f4bc05;
    align-self: center;
}

#redes-sociais img {
    width: 3vw;
    margin: 1vw;
    object-fit: scale-down;
}

#brilho-do-sol {
    width: 25vw;
    position: absolute;
    filter: opacity(0.4) drop-shadow(0 0 0 yellow);
    margin-left: -10vw;
}

#brilho-do-sol-2 {
    width: 19vw;
    position: absolute;
    filter: opacity(0.4) drop-shadow(0 0 0 yellow);
    /* left: 74vw; */
    margin-top: 100vh;
    margin-left: 78vw;
}

@media(max-width:1100px) {
    .cabeçalho {
        width: 100vw;
        height: 100vh;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
    }



    #LogoLurys {
        margin-top: 4vw;
        align-self: self-start;
        margin-left: 8vw;
        width: 40vw;
    }

    #TextoInicial {
        margin-top: -77vh;
        margin-left: 8vw;
        width: 50vw;
        display: block;
        z-index: 2;
        font-size: 6vw;
        font-weight: 600;
        color: #0c2d2d;
    }

    #lista {
        z-index: 3;
        position: fixed;
        text-align: center;
        right: -100%;
        top: 20vw;
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: -10px;
        transition: right 0.3s;
        background: white;
        /* align-items: center; */
        padding-top: 5vw;
        padding-bottom: 10vw;
        font-size: 0vw;
    }

    #lista.ativo {
        right: 0;
    }

    .menu {
        display: block;
        margin-right: 10vw;
        margin-top: 21px;
    }

    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background: white;
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background: white;
    }

    a {
        font-size: 26px;
        color: black;
        text-decoration: none;
    }



    .lista {
        font-size: 4.5vw;
    }

    #navigation {
        position: fixed;
        display: flex;
        justify-content: space-between;
        width: 100vw;
        height: 23vw;
        z-index: 1;
        background: #0c2d2d;
    }

    #QuemSomos {
        width: 86vw;
        height: auto;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 20px 0px #00000078;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.3s ease;
    }

    #QuemSomos1 {
        width: 86vw;
        height: auto;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        transition: 0.3s ease;
        justify-content: center;
    }

    .divisao1 {
        width: 63vw;
        height: 1.3vw;
        background-color: #f4bc05;
        margin: 2vw;
    }

    .interno h1 {
        font-size: 6vw;
        width: auto;
        align-self: center;
    }

    .interno p {
        font-size: 4vw;
        width: auto;
        align-self: center;
    }

    .interno1 {
        width: auto;
        padding: 3vw;
        align-self: center;
    }

    #ul {
        margin-top: 6vw;
        margin-left: 4vw;
        width: 260px;
    }


    #button1 {
        margin-top: 50px;
        font-size: 5vw;
    }

    #Lurys {
        width: 86vw;
        object-fit: scale-down;
        border-radius: 0px 0px 20px 20px;
    }

    #green {
        margin-top: 0%;
    }

    #yellow {
        height: 130vw;
        margin-top: 59vh;
    }

    #Instalador {
        width: 82vw;
        height: auto;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }

    #Diferenciais-box {
        flex-direction: column;
        width: 82vw;
        height: auto;
    }

    .boxes {
        width: 76vw;
        height: auto;
        padding: 2vw;
    }

    .boxes img {
        display: none;
    }

    .boxes h1 {
        margin-left: 3vw;
        font-size: 4.8vw;
        margin-top: 10px;
    }

    .boxes p {
        margin: 0px 3vw 1vw 3vw;
        font-size: 3.8vw;
        font-weight: bold;
    }

    .interno3 {
        height: auto;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        padding: 3vw 2vw 5vw 3vw;
    }

    #imagem {
        height: 290px;
    }

    #bene-econo h1 {
        font-size: 5.1vw;
    }

    #bene-econo img {
        width: 11vw;
    }

    #titulo h1 {
        font-size: 6vw;
    }

    #orçamento-box-geral {
        margin-top: 16vw;
        width: 82vw;
    }

    #orçamento-box-geral h1 {
        font-size: 6vw;
        color: white;
        margin-bottom: 3vw;
        text-decoration: underline 5px #0c2d2d;
        text-underline-offset: 2vw;
        text-decoration: none;
    }

    #orçamento-box-geral h2 {
        font-size: 4.5vw;
        color: white;
        margin-bottom: 6vw;
    }

    #orçamento-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2vw;
        align-items: center;
        /* justify-content: center; */
    }

    #ComoFunciona {
        width: 100%;
        align-items: center;
        /* display: flex; */
        flex-direction: column;
        /* justify-content: center; */
        font-size: 4vw;
        font-weight: bold;
        margin-bottom: 5vw;
    }

    #ComoFunciona h1 {
        font-size: 4.5vw;
        text-decoration: none;
    }

    label {
        display: flex;
        flex-direction: column;
    }

    form {
        width: 100%;
    }

    input {
        border-radius: 4px;
        margin: 8px 0px 1vw 0px;
        height: 13vw;
        border-style: solid;
        border-width: 0.2vw;
        border-color: white;
        background: #f4bc05;
        padding-left: 20px;
        font-size: 3.9vw;
        font-weight: bold;
    }

    label button {
        width: auto;
        height: auto;
        padding: 10px;
        margin-top: 3vw;
        margin-left: 34%;
        background: white;
        color: #f4bc05;
    }

    button {
        width: auto;
        height: auto;
        border-radius: 20px;
        padding: 10px;
        background-color: #f4bc05;
        color: white;
        border: none;
        font-size: 4.5vw;
        font-weight: bold;
    }

    #redes-sociais p {
        font-size: 2.9vw;
    }

    #divisao2 {
        width: 1.2vw;
        height: 9vw;
    }

    #redes-sociais img {
        width: 9vw;
        margin: 2vw;
    }

    #brilho-do-sol,
    #brilho-do-sol-2 {
        display: none;
    }


}