@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}


body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    height: 107vh;
    background-image: url(./images/Sobre\ Nós.png);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}


#lista {
    display: flex;
    gap: 50px;
    color: white;
}

#LogoLurys {
    width: 200px;
    height: 80px;
    object-fit: scale-down;
}

a {
    font-size: 26px;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline #f4bc05 5px;
    text-underline-offset: 15px;
}

button {
    width: auto;
    height: 49px;
    border-radius: 20px;
    padding: 10px;
    background-color: #f4bc05;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

button:hover {
    background-color: white;
    color: #f4bc05;
}

.cabeçalho {
    width: 100vw;
    height: 100px;
    flex-wrap: wrap;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#TextoInicial {
    margin-top: -68vh;
    margin-left: 12vw;
    width: 36vw;
    display: block;
    z-index: 2;
    font-size: 3vw;
    font-weight: 600;
    color: #0c2d2d;
}

.menu {
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: white;
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background: #0c2d2d;
}

#container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 100vh;
}

#QuemSomos {
    width: 60vw;
    height: 320px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #00000078;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    align-self: center;
}

#QuemSomos1 {
    width: 60vw;
    height: 272px;
    background-color: white;
    display: flex;
    transition: 0.3s ease;
    align-self: center;
    justify-content: space-between;
}

#bene-econo img {
    width: 50px;
}

#bene-econo h1 {
    padding: 0;
    margin-left: 7px;

}

#ul {
    margin-top: 20px;
    margin-left: 20px;
}

.lista {
    list-style-type: disc;
    margin: 0px 23px;
    text-align: justify;
}

/*.lista:before {
    content: '\25CF';
    margin: 0 23px;
    color: #0c2d2d;
    cor da bolinha
}*/

#bene-econo {
    display: flex;
    align-items: center;
    align-self: center;
}

.interno {
    padding: 20px;
}

.interno p {
    text-align: justify;
}


.interno h1 {
    padding-bottom: 10px;
}

.interno1 {
    width: 50%;
    padding: 20px;
}

.interno1 p {
    text-align: justify;
}


.interno1 h1 {
    padding-bottom: 10px;
}

.interno2 {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.interno2 p {
    text-align: justify;
    color: black;
}


.interno2 h1 {
    padding-bottom: 10px;
}

.interno3 {
    width: 25vw;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}


#Lurys {
    width: 320px;
    object-fit: scale-down;
    border-radius: 0px 20px 20px 0px;
}

#imagem {
    height: 320px;
}

.divisao1 {

    width: 30vw;
    height: 7px;
    background-color: #f4bc05;
}

#divisao1 {
    margin: 50px;
    width: auto;
    height: auto;
    align-self: center;
}

#button1 {
    width: 277px;
    height: 49px;
    border-radius: 20px;
    padding: 10px;
    background-color: #f4bc05;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    align-self: center;
}

#button1:hover {
    background-color: white;
    color: #f4bc05;
}

#Diferenciais {
    width: 60vw;
    height: 272px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    align-self: center;
    margin-top: 50px;
    color: white;
}

#titulo {
    align-self: center;
}

#Instalador {
    width: 25vw;
    height: 555.75px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

#green {
    position: absolute;
    top: 777px;
    z-index: -1;
    width: 100vw;
    height: 700px;
    background-color: #0c2d2d;
}

#yellow {
    position: absolute;
    top: 1147px;
    z-index: -1;
    width: 100vw;
    height: 400px;
    background-color: #f4bc05;
}

#Diferenciais-box {
    width: 50vw;
    height: 555.75px;
    background-color: white;
    display: flex;
    transition: 0.3s ease;
    align-self: center;
    justify-content: space-between;
    border-radius: 20px;
}

#interno2-boxes {
    height: 468px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #00000078;
    display: flex;
    transition: 0.3s ease;
    align-self: center;
}

.boxes {
    margin: 20px;
    color: black;
    height: 152px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #00000078;
    display: flex;
}

.boxes h1 {
    margin-left: 20px;
    font-size: 20px;
    margin-top: 10px;
}

.boxes img {
    width: 46px;
    object-fit: scale-down;
    margin-left: 16px;
}

.boxes p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
}

@media(max-width:1390px) {
    .cabeçalho {
        width: 100vw;
        height: 100vh;
        background-image: url(./images/Sobre\ Nós.png);
        background-size: cover;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #LogoLurys {
        margin-left: 8vw;
    }

    #TextoInicial {
        margin-top: -77vh;
        margin-left: 8vw;
        width: 50vw;
        display: block;
        z-index: 2;
        font-size: 6vw;
        font-weight: 600;
        color: #0c2d2d;
    }

    .menu {
        display: block;
        margin-right: 10vw;
        margin-top: 21px;
    }

    a {
        font-size: 26px;
        color: black;
        text-decoration: none;
    }

    #lista {
        position: fixed;
        text-align: center;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: -10px;
        transition: 0.3s;
    }

    #QuemSomos {
        width: 86vw;
        height: auto;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 20px 0px #00000078;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.3s ease;
    }

    #QuemSomos1 {
        width: 86vw;
        height: auto;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        transition: 0.3s ease;
        justify-content: center;
    }

    .interno1 {
        width: auto;
        padding: 20px;
        align-self: center;
    }

    #ul {
        margin-top: 20px;
        margin-left: 20px;
        width: 260px;
    }


    #button1 {
        margin-top: 50px;
    }

    #Lurys {
        width: 86vw;
        object-fit: scale-down;
        border-radius: 0px 0px 20px 20px;
    }

    #green {
        top: 1692px;
    }

    #yellow {
        top: 2388px;
        height: 500px;
    }

    #Instalador {
        width: 82vw;
        height: auto;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }

    #Diferenciais-box {
        flex-direction: column;
        width: 82vw;
        height: auto;
    }

    .boxes {
        width: 70vw;
        height: 32vh;
    }

    #imagem {
        height: auto;
    }

}